<div class="row">
  <div class="col-md-3 col-sm-6">
    <div class="panel panel-default">
      <%= gravatar_image_tag(@user.email, alt: @user.username) %>
      <% if user_signed_in? && current_user == @user %>
        <div class="list-group">
          <div class="list-group-item">
            <%= link_to 'Edit your account', edit_user_registration_path %>
          </div>
        </div>
      <% end %>
      <div class="panel-footer">
        <strong>
          <%= @user.username %>
        </strong>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>
          Interests
        </strong>
      </div>
      <div class="list-group">
        <% @user.interests.each do |interest| %>
          <%= render 'partips/list_item', partip: interest, no_attribution: true %>
        <% end %>
        <% unless @user.interests.length > 0 %>
          <div class="list-group-item">
            No Interests yet
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>
          Contribs
        </strong>
      </div>
      <div class="list-group">
        <% @user.contribs.each do |contrib| %>
          <%= render 'partips/list_item', partip: contrib, no_attribution: true %>
        <% end %>
        <% unless @user.contribs.length > 0 %>
          <div class="list-group-item">
            No Contrib yet
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>
          Votes
        </strong>
      </div>
      <div class="list-group">
        <% @user.votes.each do |vote| %>
          <%= render 'partips/list_item', partip: vote.partip unless vote.partip.nil? %>
        <% end %>
        <% unless @user.votes.length > 0 %>
          <div class="list-group-item">
            No Votes yet
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
