.panel-heading
  %h2
    = link_to '', partip, title: 'Show', class: 'fa fa-chevron-left'
    Editing
    = partip.title
    - if partip.user != current_user
      %small
        by
        = partip.user.username
.panel-body
  = render 'form', partip: partip

  %br
  = link_to "Delete #{partip.class.name}", partip, method: :delete, data: { confirm: 'Are you sure?' }

