= simple_form_for partip, html: { class: 'form-vertical' } do |f|
  = f.hidden_field :interest_id if defined? partip.interest
  = f.input :title
  = f.input :description, as: :text, hint: 'Markdown allowed'
  = f.button :submit
