.panel-heading
  %h1= partip.title
.panel-body
  %p= markdown(partip.description)
.panel-footer.partip
  - if user_signed_in?
    .actions= render 'actions', partip: partip
  %span.badge= partip.votes.length if partip.votes.length > 0
  %span
    Created by
    #{link_to partip.user.username, user_path(:username => partip.user.username)}
    on
    #{partip.created_at.strftime("%A, %d %B %Y")}
    - unless partip.created_at ==  partip.updated_at
      and last updated on #{partip.updated_at.strftime("%A, %d %B %Y")}
      - if partip.created_at.to_date ===  partip.updated_at.to_date
        = partip.updated_at.strftime("%H:%M")
