<%= render 'header' %>

<div class="row">
  <div class="col-md-6">
    <ul class="list-group">
      <% @contribs.each do |contrib| %>
        <li class="list-group-item">
          <%= link_to contrib.title, contrib %>
        </li>
      <% end %>
      <li class="list-group-item">
        <%= simple_form_for @contrib do |f| %>
          <%= f.text_field :title, placeholder: 'Add your contrib' %>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul class="list-group">
      <% @interests.each do |interest| %>
        <li class="list-group-item">
          <%= link_to interest.title, interest %>
        </li>
      <% end %>
      <li class="list-group-item">
        <%= simple_form_for @interest do |f| %>
          <%= f.text_field :title, placeholder: 'Add your interest' %>
        <% end %>
      </li>
    </ul>
  </div>
</div>


