<%= render 'header' %>

<div class="row">
  <div class="col-md-6">
    <div class="list-group">
      <div class="list-group-item">
        <%= render 'form', type: 'interest'%>
      </div>
      <% @interests.each do |interest| %>
        <div class="list-group-item">
          <%= link_to interest.title, interest %>
          by
          <%= link_to interest.user.username, user_path(:username => interest.user.username) %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="list-group">
      <div class="list-group-item">
        <%= render 'form', type: 'contrib'%>
      </div>
      <% @contribs.each do |contrib| %>
        <div class="list-group-item">
          <%= link_to contrib.title, contrib %>
          by
          <%= link_to contrib.user.username, user_path(:username => contrib.user.username) %>
        </div>
      <% end %>
    </div>
  </div>
</div>


