<div class="row">
  <div class="col-md-12 text-center page-header">
    <h1 class="brand">ClueShed</h1>
    <h2><%= link_to 'Contribs', Contrib %> and <%= link_to 'Interests', Interest %></h2>
    <p class="lead">This is your event. You decide what will happen.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= render 'contribs/form' %>
    <ul class="list-group">
      <% @contribs.each do |contrib| %>
        <li class="list-group-item">
          <%= link_to contrib.title, contrib %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-6">
      <%= render 'interests/form' %>
      <ul class="list-group">
        <% @interests.each do |interest| %>
          <li class="list-group-item">
            <%= link_to interest.title, interest %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


