<%= render 'header' %>

<div class="row">
  <div class="col-md-6">
    <div class="list-group">
      <div class="list-group-item">
        <%= simple_form_for @interest do |f| %>
          <%= f.text_field :title, placeholder: 'What are you intersted in?' %>
        <% end %>
      </div>
      <% @interests.each do |interest| %>
        <div class="list-group-item">
          <%= link_to interest.title, interest %>
          by
          <%= interest.user.email %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="list-group">
      <div class="list-group-item">
        <%= simple_form_for @contrib do |f| %>
          <%= f.text_field :title, placeholder: 'What could you contribute?'%>
        <% end %>
      </div>
      <% @contribs.each do |contrib| %>
        <div class="list-group-item">
          <%= link_to contrib.title, contrib %>
          by
          <%= contrib.user.email %>
        </div>
      <% end %>
    </div>
  </div>
</div>


