<%= render 'header' %>

<div class="row">
  <div class="col-md-6">
    <div class="list-group">
      <div class="list-group-item">
        <%= simple_form_for @interest do |f| %>
          <%= f.text_field :title, placeholder: 'What are you intersted in?' %>
        <% end %>
      </div>
      <% @interests.each do |interest| %>
        <%= link_to interest.title, interest, class: 'list-group-item' %>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="list-group">
      <div class="list-group-item">
        <%= simple_form_for @contrib do |f| %>
          <%= f.text_field :title, placeholder: 'What could you contribute?'%>
        <% end %>
      </div>
      <% @contribs.each do |contrib| %>
        <%= link_to contrib.title, contrib, class: 'list-group-item' %>
      <% end %>
    </div>
  </div>
</div>


