.col-md-8
  %h1= @interest.title
  %p= @interest.description
  %p
    Created by
    \#{link_to @interest.user.username, user_path(:username => @interest.user.username)}
    on
    \#{@interest.created_at.strftime("%A, %d %B %Y")}
    - unless @interest.created_at ==  @interest.updated_at
      and last updated on #{@interest.updated_at.strftime("%A, %d %B %Y")}
      - if @interest.created_at.to_date ===  @interest.updated_at.to_date
        = @interest.updated_at.strftime("%H:%M")
.col-md-4
  .panel.panel-default
    .panel-heading
      %strong
        Contribs in reply
    .list-group
      - @interest.contribs.each do |contrib|
        = render 'partips/list_item', partip: contrib
      - unless @interest.contribs.length > 0
        .list-group-item
          No Contrib yet

  .btn-group.btn-group-justified
    = render 'partips/actions', partip: @interest, use_buttons: true
