= simple_form_for @contrib, html: { class: 'form-vertical' } do |f|
  = f.hidden_field :interest_id if @contrib.interest_id
  .field
    = f.input :title
  .field
    = f.input :description, as: :text
  .actions
    = f.button :submit
