<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @contrib.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @contrib.description %>
</p>

<% if @contrib.interest %>
  <p>
    <strong>In reply to:</strong>
    <%= @contrib.interest.title %>
  </p>
<% end %>

<%= render 'partips/actions', partip: @contrib, use_buttons: true %>
